---
layout: layouts/base.njk
title: not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section>
  <h1 class="vg-archive-title">not found.</h1>
  <p>The path you tried doesn't exist. Return to <a href="/">today</a>.</p>
</section>
