---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  <url><loc>{{ site.url }}/archive/</loc><changefreq>daily</changefreq></url>
  <url><loc>{{ site.url }}/tags/</loc><changefreq>weekly</changefreq></url>
  <url><loc>{{ site.url }}/archetypes/</loc><changefreq>monthly</changefreq></url>
{%- for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | dateYMD }}</lastmod>
    <changefreq>yearly</changefreq>
  </url>
{%- endfor %}
{%- for entry in collections.tagList %}
  <url><loc>{{ site.url }}/tags/{{ entry.tag }}/</loc><changefreq>monthly</changefreq></url>
{%- endfor %}
</urlset>
