---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
    <image:image>
      <image:loc>{{ site.url }}/static/og/home.png</image:loc>
      <image:title>{{ site.name }}</image:title>
      <image:caption>{{ site.description }}</image:caption>
    </image:image>
  </url>
  <url><loc>{{ site.url }}/archive/</loc><changefreq>daily</changefreq></url>
  <url><loc>{{ site.url }}/tags/</loc><changefreq>weekly</changefreq></url>
  <url><loc>{{ site.url }}/archetypes/</loc><changefreq>monthly</changefreq></url>
{%- for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | dateYMD }}</lastmod>
    <changefreq>yearly</changefreq>
    <image:image>
      <image:loc>{{ site.url }}/static/og/{{ post.date | dateYMD }}-{{ post.fileSlug }}.png</image:loc>
      <image:title>{{ post.data.title }}</image:title>
{%- if post.data.summary %}
      <image:caption>{{ post.data.summary }}</image:caption>
{%- endif %}
    </image:image>
  </url>
{%- endfor %}
{%- for entry in collections.tagList %}
  <url><loc>{{ site.url }}/tags/{{ entry.tag }}/</loc><changefreq>monthly</changefreq></url>
{%- endfor %}
</urlset>
