---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tagEntry
permalink: /tags/{{ tagEntry.tag }}/
---
{% set tag = tagEntry.tag %}
{% set count = tagEntry.count %}
<section class="vg-tag-page">
  <header class="vg-archive-hero">
    <h1 class="vg-archive-title">#{{ tag }}</h1>
    <p class="vg-archive-lede">{{ count }} {% if count == 1 %}post{% else %}posts{% endif %} tagged <a class="vg-tag" href="/tags/">{{ tag }}</a>.</p>
  </header>

  <ol class="vg-archive-timeline">
    {% for post in collections.posts %}
      {% if tag in (post.data.tags | displayTags) %}
        <li class="vg-archive-day">
          <span class="vg-archive-marker">{{ post.data.date | dateMD }}</span>
          <div class="vg-archive-posts">
            <a href="{{ post.url }}" data-vg-readkey="{{ post.url }}">{{ post.data.title }}</a>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</section>
