---
layout: layouts/base.njk
title: tags
permalink: /tags/
---
<section class="vg-tags-page">
  <h1 class="vg-archive-title">tags</h1>
  <ul class="vg-tag-cloud">
    {% for entry in collections.tagList %}
      <li>
        <a class="vg-tag-cloud-item" href="/tags/{{ entry.tag }}/"
           style="font-size: calc(0.9rem + {{ entry.count }} * 0.18rem);">{{ entry.tag }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
