---
layout: layouts/base.njk
title: 標籤
permalink: /tags/
---
<section>
  <h1>標籤</h1>
  <ul>
    {% for entry in collections.tagList %}
      <li><a class="vg-tag" href="/tags/{{ entry.tag }}/">{{ entry.tag }}</a> <span>({{ entry.count }})</span></li>
    {% endfor %}
  </ul>
</section>
