---
layout: layouts/base.njk
title: topics
permalink: /topics/
---
<section>
  <h1 class="vg-archive-title">topics</h1>
  <ul>
    {% for t in collections.topics %}
      <li><a class="vg-crumb-link" href="/topics/{{ t.slug }}/">{{ t.title }}</a> <span>({{ t.posts.length }})</span></li>
    {% endfor %}
  </ul>
</section>
